<!-- begin sidebar -->
<aside class="sidebar">
  <div class="sidebar__inner">
    <div class="logo">
      <a class="logo__link" href="{{ site.baseurl }}/">
        <img class="logo__image" src="{{ site.baseurl }}/media/images/logo.png" alt="{{ site.data.settings.title }}">
      </a>
    </div>

    <nav class="main-nav">
      <div class="main-nav__box">
        <ul class="nav__list list-reset">
          {% for item in site.data.settings.menu__settings.menu__items %}
            {% if item.submenu %}
            <li class="nav__item dropdown {% if item.submenu.size > 0 %}{% for submenu-item in item.submenu %}{% if page.url == submenu-item.url %}show{% endif %}{% endfor %}{% endif %}">
              <span class="nav__link dropdown-toggle">{{ item.title }} <i class="ion ion-ios-arrow-right arrow-right"></i></span>
              <div class="dropdown-menu">
                {% for submenu-item in item.submenu %}
                {% if submenu-item.url contains 'http' %}
                <a href="{{ submenu-item.url }}" class="nav__link submenu-link{% if page.url == submenu-item.url %} active-link{% endif %}" target="_blank" rel="noopener">{{submenu-item.title}}</a>
              {% else %}
                <a href="{{ submenu-item.url }}" class="nav__link submenu-link{% if page.url == submenu-item.url %} active-link{% endif %}">{{submenu-item.title}}</a>
              {% endif %}
                {% endfor %}
              </div>
            </li>
            {% else %}
            <li class="nav__item">
              <a href="{{ item.url | relative_url }}" class="nav__link{% if page.url == item.url %} active-link{% endif %}">{{ item.title }}</a>
            </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </nav>

    <div class="sidebar-footer">
      <p>&copy; {{site.time | date: '%Y'}} {{ site.data.settings.author__name }}</p>
    </div>
  </div>
</aside>

<div class="mobile-nav-button">
  <div class="hamburger">
    <div></div>
  </div>
</div>
<!-- end sidebar -->