{% if site.data.settings.hero.enable == true %}
<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">

      <div class="col col-6 col-d-12">
        <div class="hero__left">
          {% if site.data.settings.author.author__avatar %}
          <div class="hero__avatar">
            <img class="lazy" data-src="{{ site.data.settings.author.author__avatar }}" alt="{{ site.data.settings.author.author__name }}">
          </div>
          {% endif %}
          <h1 class="hero__title">{{ site.data.settings.hero.hero__title }}</h1>
          <p class="hero__description">{{ site.data.settings.hero.hero__description }}</p>

          {% if site.data.settings.mailchimp.enable == true %}
          <div class="hero__subscribe">
            <form class="subscribe-form validate"
              action="{% if site.data.settings.mailchimp.mailchimp__identifier %}//{{site.data.settings.mailchimp.mailchimp__identifier}}{% else %}#{% endif %}" method="POST"
              id="membedded-subscribe-form" name="membedded-subscribe-form" target="_blank" novalidate>
              <label class="screen-reader-text" for="mce-EMAIL">Email address</label>
              <input class="subscribe-email required email" id="mce-EMAIL" type="text" name="EMAIL"
                placeholder="{% if site.data.settings.mailchimp.mailchimp__input__text %}{{ site.data.settings.mailchimp.mailchimp__input__text }}{% else %}Email address{% endif %}">
              <button class="button button--primary subscribe-button" id="membedded-subscribe" type="submit" name="subscribe">{{
                site.data.settings.mailchimp.mailchimp__button__text }}</button>
            </form>
          </div>
          {% endif %}
        </div>
      </div>
      
      <div class="col col-5 col-d-12">
        <div class="hero__right">
          <div class="hero__image">
            <img class="lazy" data-src="{{ site.data.settings.hero.hero__image }}" alt="{{site.data.settings.author.author__name}}'s Picture">
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col col-d-12"> 
       <h1>How Did I Get Here?</h1>
        <p>Once upon a time (after earning my first MA), I veered away from academia, opting for a career in computing rather than pursuing a doctorate in English. It was a path I enjoyed for a while, but life has a way of nudging us back to our true passions. By 2020, I was no longer enjoying computing, and the COVID-19 pandemic prompted me to question my career and happiness. Once I came to that realization, and after weighing my options, I pivoted back to my original interest—teaching English. Currently, I find myself immersed in the student teaching cycle at Hamtramck High School in metro Detroit. Additionally, I teach ESL at the college level and have been a long-term substitute at Eastpointe Middle School. With 25 years of experience in technology, I consider myself a technologist.</p>
        <h1>My Teaching Philosophy</h1>
          <ol>
              <li><strong>Individuality Matters:</strong>
                  <ul>
                      <li>Every student is a unique constellation of talents, dreams, and challenges. I believe in celebrating their individuality.</li>
                      <li>We must create spaces where even the most enigmatic learners can express themselves authentically. For me, that often involves the magic of reading and writing.</li>
                  </ul>
              </li>
              <li><strong>Practical Skills with Heart:</strong>
                  <ul>
                      <li>Drawing from my business background, I emphasize why these skills matter. Yes, even in the age of generative AI.</li>
                      <li>Reading isn't just about decoding words; it's about decoding life. Writing isn't merely scribbling; it's shaping thoughts into existence.</li>
                  </ul>
              </li>
          </ol>
          <p>And this is where I find myself—a technologist turned educator—fueled by curiosity, armed with empathy, and ready to ignite minds on this exhilarating journey.</p>
      </div>
    </div>
  </div>
  
  <p>
    <iframe
      class="yt-embed"
      src="https://www.youtube-nocookie.com/embed/KonIXUXSGdo"
      title="testing"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen
      >
    </iframe>
  </p>
  
</section>
<!-- end hero -->
{% endif %}