{% if site.data.settings.hero.enable == true %}
<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">

      <div class="col col-6 col-d-12">
        <div class="hero__left">
          {% if site.data.settings.author.author__avatar %}
          <div class="hero__avatar">
            <img class="lazy" data-src="{{ site.data.settings.author.author__avatar }}" alt="{{ site.data.settings.author.author__name }}">
          </div>
          {% endif %}
          <h1 class="hero__title">{{ site.data.settings.hero.hero__title }}</h1>
          <p class="hero__description">{{ site.data.settings.hero.hero__description }}</p>
          <p>My primary content area is secondary ELA, and I am also working on my ESL endorsement. Currently, I'm in my student teaching cycle at Hamtramck High School in metro Detroit. Additionally, I teach ESL at the college level and have been a long-term substitute at Eastpointe Middle School. I am also a technologist with more than 25 years' worth of experience in IT.</p>
          <p>In addition to my teaching certification, I plan to complete an MA in Teaching in 2025. I also hold both a BA and MA in English.</p>
          <b>How Did I Get Here?</b>
          <p>A long time ago, after graduating with my first MA, I decided to pursue a career in computing instead of a doctorate in English. While I enjoyed it for a while, I continued to educate in various ways—integrating knowledge management with support, training users, teaching at the college level, and even guest lecturing in friends' classes. When I started teaching ESL for Wayne County Community in 2019, I began to think about teaching English again.</p>
          <p>By 2020, I was no longer enjoying computing, and the COVID-19 pandemic prompted me to question my career and happiness. After careful consideration, I pivoted back to my original interest—teaching English.</p>
          <h2>My Teaching Philosophy</h2>
          <p>My teaching philosophy is twofold:</p>
          <ol>
              <li><strong>Individuality:</strong> I believe all students are unique and need the ability to express themselves in ways that reflect their uniqueness. We must find ways to engage even the most challenging students and help them discover themselves. Reading and writing play a crucial role in this process.</li>
              <li><strong>Practical Skills:</strong> Drawing from my business experience, I emphasize why reading and writing skills are vital. Even in the age of generative AI, these skills remain critical for future success.</li>
          </ol>
          <p>
            <iframe
              class="yt-embed"
              src="https://www.youtube-nocookie.com/embed/KonIXUXSGdo"
              title="testing"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen
            >
            </iframe>
          </p>

          {% if site.data.settings.mailchimp.enable == true %}
          <div class="hero__subscribe">
            <form class="subscribe-form validate"
              action="{% if site.data.settings.mailchimp.mailchimp__identifier %}//{{site.data.settings.mailchimp.mailchimp__identifier}}{% else %}#{% endif %}" method="POST"
              id="membedded-subscribe-form" name="membedded-subscribe-form" target="_blank" novalidate>
              <label class="screen-reader-text" for="mce-EMAIL">Email address</label>
              <input class="subscribe-email required email" id="mce-EMAIL" type="text" name="EMAIL"
                placeholder="{% if site.data.settings.mailchimp.mailchimp__input__text %}{{ site.data.settings.mailchimp.mailchimp__input__text }}{% else %}Email address{% endif %}">
              <button class="button button--primary subscribe-button" id="membedded-subscribe" type="submit" name="subscribe">{{
                site.data.settings.mailchimp.mailchimp__button__text }}</button>
            </form>
          </div>
          {% endif %}
        </div>
      </div>
      
      <div class="col col-5 col-d-12">
        <div class="hero__right">
          <div class="hero__image">
            <img class="lazy" data-src="{{ site.data.settings.hero.hero__image }}" alt="{{site.data.settings.author.author__name}}'s Picture">
          </div>
        </div>
      </div>

      <!---  --->

    </div>
  </div>
</section>
<!-- end hero -->
{% endif %}