<ul class="socials">
	{% for url in site.data.settings.social_settings %}
	{% if url[1] == 'https://geoffreysperl.com' %}
	<li class="socials__item">
		<a href="{{ url[1] }}" target="_blank" class="socials__item__link" title="geoffreysperl.com">
			<i class="fas fa-{{ url[0] | remove: '_url' }}" aria-hidden="true"></i>
		</a>
	</li>
	{% else if url[1] == 'mailto:geoffrey@wayne.edu' %}
	<li class="socials__item">
		<a href="{{ url[1] }}" target="_blank" class="socials__item__link" title="email">
			<i class="fas fa-{{ url[0] | remove: '_url' }}" aria-hidden="true"></i>
		</a>
	</li>
	{% endif %}
	{% endfor %}
</ul>